* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

html {
    font-family: 'Muli', Verdana, sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
 max-width: 10rem;
margin-left: 1rem;
margin-top: 1rem;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    list-style-type: none;
    
}
nav a:link {
    color: rgb(16, 126, 215);
    background-color: rgb(130, 97, 50);
    display: block;
} 
nav a:hover {
    background-color: rgb(0, 0, 0)
}
nav a:visited {
    color: purple;}
    nav a:active {
        color:
    }
/*
.home {grid-column: 1/2;
    grid-row: 1/2;
     border: 10px solid #000000;
}
.about {grid-column: 1/2;
    grid-row: 2/3;
}
.locations {grid-column: 1/2;
    grid-row: 3/4;
}
.products {grid-column: 1/2;
    grid-row: 4/5;
}
*/